@model sproject.Models.Inventory
        <div>
        <h2>Nawamin Auto Tyre</h2>
        <h6>15/82 soi nawamin 94, <br>
        street nawamin road, Khwaeng Nuanchan, <br>
        Khet Bueng Kum, Bangkok, Thailand, 10230<br>
        Phone: 086-5709-601</h6>
        </div>
        <div>
        <h3 class="text-danger">Out of Stock Report</h3><br>
         <table class="table" id="table">
             <tr>
                 <th>Product name</th>
                 <th>Quantity</th>                 
             </tr>
         </table>
         </div>
         <a  asp-controller="Home" asp-action="Report"> Back to Management Reports</a>
         



 @section Scripts{
 <script>
     var list = [];
     var show = [];
     var tbl = $('#table');
     $(document).ready(cb);


     function cb() {
         $.get("/inventory/productpoh", showtable);
     }
     
     function tr(data) {
         return '<tr>' + data + '</tr>';
     }

     function td(data) {
         return '<td>' + data + '</td>';
     }

     function showtable(data) {
         console.log("info",data);   
         list = data;     
         table(data);
     }

     function table(list){
            for (var i = 0; i < list.length; i++) {
            var row = tr(td(list[i].product_name)+ td(list[i].qty));
            console.log(row);
            tbl.append(row);
            }
            //tbl.append(row);
        }

 </script>
 }
