@model sproject.Models.CustomerOrder


<h4>CustomerOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="customerorder_id" />
            <div class="form-group">
                <label asp-for="customerorder_date" class="control-label"></label>
                <input asp-for="customerorder_date" class="form-control" />
                <span asp-validation-for="customerorder_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customerorder_qty" class="control-label"></label>
                <input asp-for="customerorder_qty" class="form-control" />
                <span asp-validation-for="customerorder_qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customerorder_price" class="control-label"></label>
                <input asp-for="customerorder_price" class="form-control" />
                <span asp-validation-for="customerorder_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_id" class="control-label"></label>
                <select asp-for="product_id" class="form-control" asp-items="ViewBag.product_id"></select>
                <span asp-validation-for="product_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customerinfo_id" class="control-label"></label>
                <select asp-for="customerinfo_id" class="form-control" asp-items="ViewBag.customerinfo_id"></select>
                <span asp-validation-for="customerinfo_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>