
 @model IEnumerable<sproject.Models.COReport>
     
     <h2>Units sold Report</h2>
     <div class="container">                 <!-- create a container to hold date time picker div-->   
         <div class="row">
             <div class="col-4">
                 Start Date: <input id="startDate" width="200" />
             </div>
             <div class="col-4">
                 End Date: <input id="endDate" width="200" />
             </div>
             <div class="col-3">
                 <br>
                 <button class="btn btn-warning btn-block" id="cmd_select_date">select</button>
             </div>
         </div>
         <br>
     </div>
     <table class="table">                  <!-- create a table tab -->
         <tr>
             <td>ID</td>
             <td>Date</td>
             <td>Product</td>
             <td>Total</td>
         </tr>

         @foreach(var item in @Model){      
         <tr>
             <td>@item.id</td>
             <td>@item.date</td>
             <td>@item.product_id</td>
             <td>@item.total</td>
              
         </tr>
         }

     </table>


     @section Scripts{
     <script>
         var tbl = $('#table')
         $(document).ready(cb);   //register jquery startup event

 
         var cmd_select_date = $('#cmd_select_date');   //declare reference to the select_date button

          function cb() {
             setup_date_pickers(); //setup date_picker  //require special libs 
             //goto step 28 for this  , lookup Shared>_Layout.cshtml
             cmd_select_date.click(cmd_select_date_clicked); //register select_date button click event
             
         } //ef



         function cmd_select_date_clicked() {
             var start_date = $('#startDate').val();
             var end_date = $('#endDate').val();
             var url = "/customerorder/ReportPS";
             url += "?d1=" + start_date;
             url += "&d2=" + end_date;
             window.location.href = url;
         }

         function setup_date_pickers() {
             var today = new Date( 
             new Date().getDate(),
             new Date().getMonth(), 
             new Date().getFullYear());

             $('#startDate').datepicker({
                 uiLibrary: 'bootstrap4',
                 iconsLibrary: 'fontawesome',
                 //minDate: today,
                 maxDate: function () {
                     return $('#endDate').val();
                 }
             });
             $('#endDate').datepicker({
                 uiLibrary: 'bootstrap4',
                 iconsLibrary: 'fontawesome',
                 minDate: function () {
                     return $('#startDate').val();
                 }
             });
         } //ef
        
     </script>
     }