@model sproject.Models.Warranty

<h4>Warranty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
             <label class="control-label">Customer purchase id</label>
             <input asp-for="customerOrder_id" id="customerorder_id"/>
             <button type = "button" id="cmb_orsearch">Search</button>
            </div>

            <div class="form-group">
                <label asp-for="problem" class="control-label"></label>
                <input asp-for="problem" class="form-control" />
                <span asp-validation-for="problem" class="text-danger"></span>
            </div>

            <div class="form-group">
             <label  class="control-label">Product</label>
             <input   id="product"/>
            </div>

            <div class="form-group">
             <label class="control-label">Customer id</label>
             <input class ="form-control" id="customer_id"/>
            </div>

            <div class="form-group">
             <label class="control-label">Customer name</label>
             <input class ="form-control" id="customer_name"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts{
    <script>
        $(document).ready(setup);

        function setup(){
            $('#cmb_orsearch').click(cb_clicked);
            //$('#customerorder_id').change(done2);
        }

        function cb_clicked(){
            var id = $('#customerorder_id').val();
            var url= "/customerorder/customerorder_by_COid?id="+id;
            $.get(url,done);            
        }

        function done(data){
            $('#customer_id').val(data.cid);  
            var cid = $('#customer_id').val(data.cid); 
            var url2="/customerorder/customerinfo?cid="+cid;
            $.get(url2,ccid);         
        }

        function done2(){
            var url2="/customerorder/customerinfo?cid="+cid;
            console.log(cid);
            $.get(url2,ccid);
        }

        function ccid(data3){            
              $('#customer_name').val(data3.infoname);
              console.log($('#customer_name').val(data3.infoname));
        }


    </script>
}