<div class="text-center">
    <br><br>
        <h2 class="text-primary">Management Reports</h2><br>
        <button type="button" class="btn btn-default"><a asp-controller="SupplierInfo" asp-action="ReportPFM">Top Supplier and Performance</a></button><br><br>
        <button type="button" class="btn btn-default"><a asp-controller="Inventory" asp-action="ReportOST">Out of Stock Report</a></button><br><br>

        <button type="button" class="btn btn-default"><a asp-controller="Inventory" asp-action="ReportSOH">Stock on Hand Report</a></button><br><br>
         <button type="button" class="btn btn-default"><a asp-controller="Claim" asp-action="ReportPB">Problems Report</a></button><br><br>
          <button type="button" class="btn btn-default"><a asp-controller="CustomerOrder" asp-action="ReportUS">Units sold Report</a></button><br><br>
          
    </div>
