<div class="text-center">
    <br><br>
        <h2 class="text-primary">Management Reports</h2><br>
        <button type="button" class="btn btn-default"><a asp-controller="Inventory" asp-action="ReportSOH">Top Supplier</a></button><br><br>
        <button type="button" class="btn btn-default"><a asp-controller="Inventory" asp-action="ReportOST">Out of Stock Report</a></button><br><br>

        <button type="button" class="btn btn-default"><a asp-controller="Inventory" asp-action="ReportSOH">Stock on Hand Report</a></button><br><br>
         <button type="button" class="btn btn-default"><a asp-controller="Inventory" asp-action="ReportSOH">Problem Report</a></button><br><br>
          <button type="button" class="btn btn-default"><a asp-controller="Inventory" asp-action="ReportSOH">Unit Sales Report</a></button><br><br>
          
    </div>
