@model sproject.Models.SupplierInfo

<h4>Edit Supplier Informations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="supplier_id" />
            <div class="form-group">
                <label asp-for="supplier_name" class="control-label">Supplier name</label>
                <input asp-for="supplier_name" class="form-control" />
                <span asp-validation-for="supplier_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="supplier_person" class="control-label">Contact person</label>
                <input asp-for="supplier_person" class="form-control" />
                <span asp-validation-for="supplier_person" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="supplier_phone" class="control-label">Phone number</label>
                <input asp-for="supplier_phone" class="form-control" />
                <span asp-validation-for="supplier_phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="supplier_address" class="control-label">Address</label>
                <input asp-for="supplier_address" class="form-control" />
                <span asp-validation-for="supplier_address" class="text-danger"></span>
            </div>
         
                <div class="form-group">
                <label asp-for="supplier_type.supplier_type_id" class="control-label">Supplier Type</label>
                <input  hidden asp-for="supplier_type.supplier_type_id" class="form-control"/>
                <input readonly class="form-control" value="@Model.supplier_type.supplier_type_id"/>
            
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>